/* static/css/style.css */

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

.single-card-container {
    max-width: 400px;
    margin: 2rem auto 2rem auto;
    padding: 0 1rem;
}

.glass-card {
  background: rgba(255, 255, 255, 0.2) !important; 
  backdrop-filter: blur(3px);           
  -webkit-backdrop-filter: blur(5px);   /* for Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); 
  /* color: #fff; */
}

/* 帶漸層背景的卡片 body */
.card-body-colorGradient-background {
  background-color: rgba(255, 255, 255, 0.5); 
  background-image: url('../images/colorgradient-sq.jpg');
  background-size: 100% 100%; /* fill up the area. don't keep the ratio */
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay; 
  /* border-radius: 0.375rem; */
  position: relative;
}

.card-sunnight-background {
  background-color: rgba(255, 255, 255, 0.7); 
  background-image: url('../images/sunnight-sq.png');
  background-size: 100% 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay; 
  /* border-radius: 0.375rem; */
  position: relative;
}

.custom-range {
  width: 100%;
  max-width: 150px; 
}