/* static/css/style.css */

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

.single-card-container {
    max-width: 400px;
    margin: 2rem auto 2rem auto;
    padding: 0 1rem;
}

.glass-card {
  background: rgba(255, 255, 255, 0.2) !important; /* 半透明白色 */
  backdrop-filter: blur(5px);           /* 背景模糊 */
  -webkit-backdrop-filter: blur(5px);   /* Safari 支援 */
  border: 1px solid rgba(255, 255, 255, 0.3); /* 半透明邊框 */
  /* color: #fff;                            文字顏色，讓對比明顯 */
}