{% extends "layout.html" %}

{% block title %}
    Taimu Raito
{% endblock %}

{% block main %}

<h1>Taimu Raito</h1>
<div class="container mt-3">
    <div class="row my-2 align-items-center ">
        <div class="col-3 fw-bold"></div>
        <div class="col-6 fw-bold"></div>
        <div class="col-3">
            <div id="timer-display" class="display-6 fw-bolder text-dark pb-2">--:--:--.---</div>
        </div>
        <!--<div class="d-flex align-items-center w-100 justify-content-center"> </div>-->
    </div>

    <div class="row my-2 align-items-center ">
        <div class="col-3 fw-bold display-6">MOMENTS</div>
        <div class="col-6 fw-bold display-6">COUNTDOWN</div>
        <div class="col-3 fw-bold display-6">WHEN</div>
    </div>

    <div class="row my-2 align-items-center ">
        <div class="col-3 display-6 row-bg-banner10">Next Sunrise</div>
            <div class="col-6 row-bg-banner07">
                <div id="sunrise-countdown-display" class="display-6 fw-bold">--:--:--.---</div>
            </div>
            <div class="col-3 row-bg-banner07">
                <div id="sunrise-display" class="display-6">--:--:--.---</div>
            </div>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:10%" id="sunrise-countdown-progress"></div>
    </div>

    <div class="row my-2 align-items-center ">
        <div class="col-3 display-6 row-bg-banner17">Next Sunset</div>
        <div class="col-6 fw-bold row-bg-banner07">
            <div class="display-6 fw-bold"  id="sunset-countdown-display">--:--:--.---</div>
        </div>
        <div class="col-3 row-bg-banner07">
            <div id="sunset-display" class="display-6">--:--:--.---</div>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:10%" id="sunset-countdown-progress"></div>
    </div>

    <div class="row my-2 align-items-center ">
        <div class="col-3 display-6 row-bg-banner18">
            <span class="season-name" id="next-season-name-1">Next Season: </span>
        </div>
        <div class="col-6 fw-bold row-bg-banner07">
            <div class="display-6 fw-bold season-countdown" id="next-season-countdown-1">--:--:--.---</div>
        </div>
        <div class="col-3 row-bg-banner07">
            <div class="fs-4 season-time" id="next-season-time-1">--:--:--.---</div>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info season-countdown-progress" style="width:10%"></div>
    </div>

    <div class="row my-2 align-items-center">
        <div class="col-3 display-6  row-bg-banner12">
            <span class="season-name" id="next-season-name-2">Next Season: </span>
        </div>
        <div class="col-6 fw-bold row-bg-banner07">
            <div class="display-6 fw-bold season-countdown" id="next-season-countdown-2">--:--:--.---</div>
        </div>
        <div class="col-3  row-bg-banner07">
            <div class="fs-4 season-time" id="next-season-time-2">--:--:--.---</div>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info season-countdown-progress" style="width:10%"></div>
    </div>

    <div class="row my-2 align-items-center">
        <div class="col-3 display-6  row-bg-banner01">
            <span class="season-name" id="next-season-name-3">Next Season: </span>
        </div>
        <div class="col-6 fw-bold row-bg-banner07">
            <div class="display-6 fw-bold season-countdown" id="next-season-countdown-3">--:--:--.---</div>
        </div>
        <div class="col-3 row-bg-banner07">
            <div class="fs-4 season-time" id="next-season-time-3">--:--:--.---</div>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info season-countdown-progress" style="width:10%"></div>
    </div>

    <div class="row my-2 align-items-center">
        <div class="col-3 display-6 row-bg-banner04">
            <span class="season-name" id="next-season-name-4">Next Season: </span>
        </div>
        <div class="col-6 fw-bold row-bg-banner07">
            <div class="display-6 fw-bold season-countdown" id="next-season-countdown-4">--:--:--.---</div>
        </div>
        <div class="col-3 row-bg-banner07">
            <div class="fs-4 season-time" id="next-season-time-4">--:--:--.---</div>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info season-countdown-progress" style="width:10%"></div>
    </div>

</div>


{% endblock %}

{% block script %}
<script type="module" src="/static/js/script.js"></script>
<!--<script src="/static/js/odometer.min.js"></script>-->
{% endblock %}
